node_modules
.env
.env*.local
.env.all
minio-storage/
.venv
data
test-minio-storage/
docling-test
imb
agent-starter-react
agent-starter-react
.zed
__pycache__
/_wizard
test-worker
worker/gliner-test
/worker/gliner-train
/workers/gliner-test
.cursor
.run/
